<!DOCTYPE html>
<html>
<head>
	<title>Create a New Dance</title>
</head>
<body>
	<h1>Create a Dance</h1>
	<a href="/admin">Back to Administrator Portal</a><br>
	<form method="POST" action="/createDance">
		<input placeholder="Dance name" name="name" type="text" autocomplete="off"><br>
		<input placeholder="Venue" name="venue" type="text" autocomplete="off"><br>
		<input placeholder="Date" name="date" type="text" autocomplete="off">
		<input type="submit" value="Create Dance">
	</form>
</body>
</html>