<!DOCTYPE html>
<html>
<head>
	<title>Dance Page</title>
</head>
<body>
	{{#dance}}
		Name: {{name}} <br>
		Date/time: {{danceTime}} <br>
		Venue: {{venue}} <br>
		{{attendanceCount}} plan to attend!
	{{/dance}}

	<form action="/dance/{{danceUID}}" method="POST">
   		
   		Student Name: <input type="text" name="studentName"> 
   		{{^failedToLoadFilters}}
   		<select name="filter">
   			<option value="-1">All Students</option>
   			<option value="0" {{#selectAttending}}selected{{/selectAttending}}>Attending</option>
   			{{#filters}}
   			<option value="{{uid}}" {{#isSelected}}selected{{/isSelected}}>{{name}}</option>
   			{{/filters}}
		</select>
		{{/failedToLoadFilters}}
        <input type="submit" value="Search">
    
	</form>

	<table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Last Updated</th>
		</tr>
		{{#students}}
		<tr>
			<td>{{firstName}} {{lastName}}</td>
			<td>{{status}}</td>
			<td>{{#lastUpdate}}{{lastUpdate}}{{/lastUpdate}}{{^lastUpdate}}No time information{{/lastUpdate}}</td>
		</tr>
		{{/students}}
	</table>

</body>
</html>